<script>
  window.antora = window.antora || {}
  window.antora.basePath = '{{or siteRootPath (or site.url siteRootUrl)}}'
</script>
<script src="{{uiRootPath}}/js/site.js"></script>
<script async src="{{uiRootPath}}/js/vendor/highlight.js"></script>
{{#if (eq env.DOCSEARCH_ENGINE 'lunr')}}
<script src="{{uiRootPath}}/js/vendor/lunr.js"></script>
<script src="{{uiRootPath}}/js/vendor/search.js" id="search-script"></script>
<script async src="{{uiRootPath}}/../search-index.js"></script>
{{/if}}