<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item">
        <h5>{{site.title}}</h5>
      </a>
      {{#if env.DOCSEARCH_ENABLED}}
      <div class="navbar-item">
        <input id="search-input" type="text" placeholder="Search">
      </div>
      {{/if}}
    </div>
  </nav>  
</header>
